@media (min-width:200px) and (max-width:767px) {
    .herosection{
        height: 100vh !important;
    }
    .applyform{
        font-size: 12px;
    }
    .R-herosection{
        height: 40vh !important;
    }
    .aboutbtn{
        width: 50% !important;
    }
    .chancellor{
        .card{
            float: none;
            width: max-content;
            margin-bottom: 2rem;
            img{
                max-width: auto;
                border-radius: 10px;
            }
        }
    }
    
}


@media (min-width:768px) and (max-width:991px) {
    .aboutbtn{
        width: 30% !important;
    }
    .R-herosection{
        height: 30vh !important;
    }
}