@media (min-width:200px) and (max-width:991px) {
    body #side{
        position: absolute !important;
        height: 91vh;
        z-index: 20;
        left: 0;
        width: 50vw !important;
    }
    body.collapsed #side{
        width: 8vw !important;
        left: -7% !important;
    }
    body.collapsed #side .expand-btn{
        right: -3rem;
        width: 3.25rem;
        height: 3.25rem;
        animation: scale 1s ease 0s infinite alternate-reverse;
    }
    body.collapsed #side .expand-btn i{
        transform: rotate(0deg);
        font-size: 1.5rem;
    }
    body.collapsed #side .expand-btn i::before{     
        content: "\f0c9" !important;
    }
    #main{
        width: 100vw !important;
    }
    #main .profile-cover-img-wrapper{
        position: relative;
    }
    #main .profile-cover-img-wrapper .profile-cover-img{
         height: 20vh !important;;
    }
   .forms{
        width: 105% !important;
   }
}

@media (min-width:200px) and (max-width:767px) {
    .herosection{
        height: 100vh !important;
    }
    .applyform{
        font-size: 12px;
    }
    .R-herosection{
        height: 40vh !important;
    }
    .aboutbtn{
        width: 65% !important;
    }
    .chancellor .card{
        float: none;
        width: max-content;
        margin-bottom: 2rem;
    }
    .chancellor .card img{
        max-width: auto;
        border-radius: 10px;
    }
    .full-width-list{
        width: 100% !important;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .aboutbtn{
        width: 30% !important;
    }
    .navbtn,
    .herobtn,
    .aboutbtn,
    .formbtn,
    .refresh,
    .filterBtn{
        width: 40% !important;
    }
    .howbtn{
        width: 70% !important;
    }
    .R-herosection{
        height: 30vh !important;
    }
    .herosection{
        height: 70vh;
    }
    .chancellor .card{
        width: 40% !important;
    }
    .chancellor .card img{
        max-width: auto;
        border-radius: 10px;
    }
    body #side{
        position: absolute !important;
        height: 97vh;
        z-index: 20;
        left: 0;
        width: 50vw !important;
    }
    .sidebar{
        box-shadow: 3px 0px 10px var(--deepsy);
    }
    .logo_wrapper{
        height: 4rem !important;
    }
    #side .logo-small1{
        display: block;
        width: 30% !important;
    }
}

@media (min-width:200px) and (max-width:475px) {
    .navbar-brand{
        width: 30% !important;
    }
    .chancellor .card1{
        display: none;
    }
    .chancellor .card{
        width: 80% !important;
        img{
            max-width: auto;
            border-radius: 10px;
        }
    }
    .chan .newsletter .form-control{
        width: 80% !important;
    }
    .chan .newsletter .btn{
        width: 50%;
    } 
}

@keyframes gradient-animation_2 {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
}

@keyframes to-left {
    0% {
      transform: translatex(230%);
      opacity: 1;
    }  
    100% {
      transform: translatex(0);
      opacity: 1;
    }
} 

@keyframes scale {
    from{
        scale: 0.9;
    }
    to{
        scale: 1.1;
    }
}

@keyframes fadeIn {
    from {
         opacity: 0;
         width: 4rem;
    }
    to {
         opacity: 1;
         width: 100%;
    }
}