:root{
    --deep: #F5E7B2;
    --deeper: #F9D689;
    --deepest: #E0A75E;
    --deepsy: #973131;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
.nav-brand{
    border: none;
    outline: none;
}
.navbtn,
.herobtn,
.aboutbtn,
.academicsbtn,
.formbtn,
.howbtn,
.refresh,
.filterBtn{
    background: var(--deepest);
    color: var(--deepsy);
    padding: 10px 20px;
    border: none;
    outline: none;
    height: 50px;
    .ti{
        font-size: 20px;
    }
}
.navbtn:hover,
.herobtn:hover,
.aboutbtn:hover,
.howbtn:hover,
.formbtn:hover,
.academicsbtn:hover{
    background: var(--deepest);
    color: var(--deepsy);
}
.navbar{
    background: #F5E7B26a;
    backdrop-filter: blur(5px);
    color: #fff;
    width: 95%;
    margin: 20px auto;
    border-radius: 30px;
}
.navbar .active,
.navbar .nav-link{
    color: var(--deepsy) !important;
    font-weight: 600;
}
.navbar .active,
.navbar .nav-link:hover,
.navbar .nav-link:active,
.navbar .nav-link:focus{
    font-weight: 800;
    color: var(--deepsy);
    background: linear-gradient(135deg, #aa64e819, #4259ee16);
    backdrop-filter: blur(20px);
    border-radius: 5px;
}
.herosection{
    background: linear-gradient(135deg, #1f1c16e9, #1f1c167c, #f9d58967), url(images/img3.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    place-items: center;
}
.herosection .card{
    color: #ffffff;
}
.herosection h1{
    font-size: 45px;
}
.about .card-img{
    background: #fff;
    border: 10px solid #00000082;
    border-right: none;
}
.about img{
    transform: translateX(2%);
    border: 10px solid #fff;
    border-left: none;
}
.herosection .card,
.about .card,
.campinfo .campinfocard{
    width: 90%;
    line-height: 1.5;
}
.campinfo{
    position: relative;
}
.campinfo .statcard{
    background: #ffffffee;
}
.campinfo .statistics{
    font-size: 2rem;
    font-weight: 900;
}
.campinfo h6{
    font-size: 14px;
}
.campinfo::before{
    position: absolute;
    top: 40%;
    left: 39%;
    content: "";
    width: 20%;
    height: 15%;
    overflow: hidden;
    background: url(images/multiple2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 20%;
    z-index: -1;
}
.campinfo .statcard,
.how .howcard,
.news .card,
.academics .acadcard{
    box-shadow: 1px 1px 10px #d7d7d7;
}
.campinfo .statcard:hover,
.how .howcard:hover,
.news .card:hover,
.academics .acadcard:hover{
    scale: 1.05;
    transition: .2s;
    cursor: pointer;
    box-shadow: 1px 1px 10px var(--deep);
    .number{
        transition: .8s;
        -webkit-text-stroke: 5px var(--deepest);
    }
}
.how .number{
    font-weight: bold;
    opacity: 0.2;
    color: transparent;
    padding: 0;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-clip: text;
    background: #28282220;
    background: var(--deep);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px #28282257;
    font-size: 12rem;
    position: absolute;
    right: 0;
    z-index: -1;
    transform: translateY(-30%);
    font-weight: 900;
}
.how .howcard{
    position: relative;
    line-height: 1.8;
}
.testimonials{
    background: #F5E7B236;
    height: max-content;
    overflow: hidden;
}
.testimonials .testicard{
    h4{
        line-height: 1.5;
    }
    .ti, .rating{
        font-size: 20px;
        color: #ffa200d4;
    }
}
.testimonials .testicard::before,
.testimonials .testicard::after{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 30%;
    color: transparent;
    padding: 0;
    margin: 0;
    background-clip: text;
    background: var(--deepsy);
    -webkit-background-clip: text;
    z-index: -1;
    font-size: 6.5rem;
    font-weight: 900;
    text-shadow: 3px 3px 0px var(--deepest);
    -webkit-text-stroke: 1px var(--deepest);
    color: var(--deepsy);
}
.testimonials .testicard::before{
    content: "Universe";
    left: 10%;
    top: 10%;
}
.testimonials .testicard::after{
    content: "University";
    left: 100%;
    top: 15%;
}
.testimonials .testimgs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-left: auto;
}
.testimonials .testimgs img:hover,
.testimonials .testimgs img.selected,
.testimonials .testimgs img:focus{
    transform: scale(1.05);
    opacity: 1;
    border-color: var(--states-focused, var(--deeper));
}
.testimonials .testimgs img{
    width: 25%;
    cursor: pointer;
    opacity: 60%;
    border: 10px solid #ffffff;
    box-shadow: 10px 10px 10px #7979795c;
}
.gallery .gallery-img{
    border: 1px solid black;
    text-align: center !important;
    opacity: 0.7;
    cursor: pointer;
}
.gallery .gallery-img img{
    cursor: zoom-in;
    width: 25%;
}
.modal.fade{
    width: 100vw !important;
    height: 100vw;
}
.modal img{
    cursor: zoom-in;
}
.modal .control-btn .btn{
    background: var(--deepsy) !important;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: var(--deeper) !important;
}
.newsletter .subscribe{
    border-radius: 5px;
    background: linear-gradient(135deg, #F9D6896a, #F9D6898a), url(images/img11.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.newsletter .subscribe .form-control{
    box-shadow: none;
    border: none;
    outline: none;
    border-radius: 0px;
    width: 80%;
}
.newsletter .subscribe .btn{
    width: 60%;
}
footer{
    background: url(images/img22.png), linear-gradient(300deg,#2b251ae9, #1f1c16e9);
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    color: #fff;
}
footer .nav-link:hover{
    color: var(--deepest);
}
.R-herosection{
    background: linear-gradient(135deg, #1f1c16e9, #1f1c167c, #f9d58967), url(images/img21.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    display: flex;
    place-items: center;
}
.R-herosection .card{
    border: none;
}
.contact .contactcard{
    background: var(--deepsy);
    border: none;
    border-radius: 10px;
    color: var(--deeper);
    box-shadow: -3px -3px 10px #d7d7d7;
}
.contactcard h3,
.contactcard h4{
    color: #fff;
}
.contactcard h1{
    font-weight: 900;
}
.contactcard .form-control{
    box-shadow: 0px 0px 10px #d7d7d7;
    border-color: #d7d7d7;
    border-radius: 0px;
    padding: 10px 0px;
    text-indent: 10px;
    text-transform: uppercase;
}
.contact li{
    background: var(--deepest);
    color: var(--deepsy);
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    border-radius: 5px;
}
.about2{
    line-height: 25px;
}
.about2 .card-img1{
    float: left;
    clear: both;
    width: 50%;
}
.about2 .card-img2{
    float: right;
    clear: both;
    width: 50%;
}
.about2 li,
.chancellor li{
    list-style: none;
    word-spacing: 3px;
}
.about2 li::before,
.chancellor li::before{
    opacity: 80%;
    content: "";
    margin-right: .3rem;
    width: 50px;
    height: 50px;
    padding: 0 .5rem;
    background: url("images/single.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.faqs{
    padding: 2rem;
    box-shadow: 5px 5px 20px #d7d7d7;
    .icon{
        transition: transform 0.3s;
    }
    .card{
        margin-bottom: 1rem;
        border: none;
    }
    .card-body{
        border-top: 1px solid #dee2e6;
    }
    .card:not(:last-of-type) .card-header{
        border-bottom: 1px solid #dee2e6;
    }
}
.faq h1{
    color: var(--deepsy);
}
.faq .accordion-button{
    color: #425aee;
    color: var(--deepest);
    box-shadow: 5px 5px 20px #d7d7d7;
}
.faq .accordion-body{
    color: #000;
}
.faq .accordion-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    text-decoration: none !important;
}
.faq .accordion-header:hover{
    background-color: #e9ecef;
}
.aboutstats{
    background: #eeeeee95;
    background: var(--deep);
    background: #f5e7b260;
}
.aboutstats h1{
    opacity: 10%;
    color: var(--deepsy);
}
.alumni{
    font-size: 20px !important;
}
.alumni .alumnicard{
    box-shadow: 1px 1px 10px #d7d7d7;
    border: none;
    transition: all 3s ease-in-out;
    position: relative;
}
.alumnicard .card-img img{
    border-radius: 10px;
}
.alumni .alumnicard .over{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 20px;
    justify-content: center;
    place-items: center;
    padding: 1.5rem;
    position: absolute;
    top: 3.5%;
    width: 10%;
    margin: 0 auto;
    transition: all .5s linear;
    background: #121923;
    background: linear-gradient(#425aee, #7e60ea);
    background: var(--deepest);
    box-shadow: 1px 1px 10px var(--deepsy);
    border-radius: 10px;
    a:hover{
        scale: 1.2;
    }
}
.alumni .alumnicard .down{
    width: 100%;
    transition: all 1s linear;
}
.chancellor{
    font-family: Arial, sans-serif;
    background: #d7d7d740;
    background: #F5E7B236;
    position: relative;
    line-height: 25px;
    word-spacing: 3px;
}
.chancellor section h2{
color: #004080;
}
.chancellor a{
    color: #004080;
    text-decoration: none;
}
.chancellor a:hover{
    text-decoration: underline;
} 
.chancellor .card{
    transition: all 3s ease-in-out;
    background: transparent;
    border: none;
    position: relative;
    float: right;
    margin-left: 2rem;
    clear: both;
    width: 30%;
}
.chancellor .card img{
    max-width: auto;
    border-radius: 10px;
}
.chancellor .over{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 20px;
    justify-content: center;
    place-items: center;
    padding: 1rem;
    position: absolute;
    bottom: 1%;
    width: 90%;
    left: 5%;
    /* visibility: hidden; */
    margin: 0 auto;
    transition: all .5s linear;
    background: var(--deepest);
    box-shadow: 1px 1px 10px var(--deepsy);
    border-radius: 10px;
    a:hover{
        scale: 1.2;
    }
}
.chancellor::before,
.chancellor::after{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 20%;
    padding: 0;
    margin: 0;
    background-clip: text;
    -webkit-background-clip: text;
    z-index: -1;
    font-size: 15.5rem;
    transform: rotate(-20deg);
    font-weight: 900;
    text-shadow: 5px 5px 0px var(--deepest);
    -webkit-text-stroke: 1px var(--deepest);
    color: var(--deepsy);
}
.chancellor::before{
    content: "Universe";
    left: 13%;
    top: 20%;
}
.chancellor::after{
    content: "University";
    left: 10%;
    top: 35%;
}
.chan .newsletter .form-control{
    width: 50% !important;
    border-radius: 0;
    height: 40px;
}
.chan .newsletter .btn{
    width: 20%;
}
.login .login-img img{
    border: 3px solid #ffffffee;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #425aee;
}
.login h1{
    color: var(--deepsy);
    text-shadow: 3px 3px 0px var(--deeper);
}
.applyform{
    background: var(--deepest);
    box-shadow: 5px 5px 0px var(--deep);
    color: #000;
    border-radius: 10px;
}
.applyform h1{
    color: var(--deepsy);
    text-shadow: 3px 3px 0px var(--deeper);
}
.applyform select,
.applyform .form-control{
    box-shadow: 0px 0px 10px #1f1c167c;
    border-color: #d7d7d7;
    border-radius: 0px;
    padding: 10px 0px;
    text-indent: 10px;
    text-transform: uppercase;
}
.applyform select:focus{
    border: none;
    outline: none;
}
.applyform input:focus{
    border-color: var(--deepsy);
    border-width: 1px;
    box-shadow: 2px 2px 5px var(--deepsy);
}
.applyform textarea{
    resize: none;
}
.applyform .herobtn{
    background: var(--deepsy);
    color: var(--deep);
}
.applyform .herobtn i{
    rotate: 45deg;
}
#alerting{
    position: fixed;
    right: 0;
    z-index: 1000000000;
    overflow: hidden !important;
    top: 25%;
}
#alerting .alert{        
    border-top-left-radius: 100px !important;
    border-bottom-left-radius: 100px !important;
    width: 250px;
    height: 50px;
    animation-name: to-left;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
#alerting i,svg{
    width: 20px !important;
}
#alerting div{
    font-size: 14px;
}
.alert-primary{
    background-color: #2A6DA8;
}
.alert-danger{
    background-color: #ff0000;
}
.alert-success{
    background-color: #019f01;
}
.alert-warning{
     background-color: #ffcc00;
}