*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
.nav-brand{
    border: none;
    outline: none;
}
.navbtn,
.herobtn,
.aboutbtn,
.academicsbtn,
.formbtn{
    background: linear-gradient(to left, #aa64e8, #425aee);
    color: #fff;
    padding: 10px 30px;
    border: none;
    outline: none;
    .ti{
        font-size: 20px;
    }
}
.navbtn:hover,
.herobtn:hover,
.aboutbtn:hover,
.academicsbtn:hover{
    color: #fff;
}
.navbar{
    background: #2828224c;
    backdrop-filter: blur(20px);
    color: #fff;
    .active,
    .nav-link:hover,
    .nav-link:active,
    .nav-link:focus{
        font-weight: 700;
        background: linear-gradient(135deg, #aa64e819, #4259ee16);
        backdrop-filter: blur(20px);
        border-radius: 5px;
    }
}
.herosection{
    background: linear-gradient(135deg, #ffffffbc, #aa64e8e2, #4259eed2), url(images/img3.jpg);
    background: linear-gradient(135deg, #ffffffbc, #ffffffbc, #ffffffbc), url(images/img3.jpg);
    background-position: center;
    background-size: cover;
    height: max-content;
    display: flex;
    place-items: center;
    .heroimg{
        border: 10px solid #ffffff;
        background: #7e60ea26;
        backdrop-filter: blur(5px);
    }
    h1{
        font-size: 45px;
    }
    /* .uniname{
        color: transparent;
        padding: 0;
        margin: 0;
        background: linear-gradient(135deg, #ffffffbc, #aa64e8e2, #4259eed2), url(images/img3.jpg);
        background: linear-gradient(to right, #aa64e8, #425aee);
        background-size: cover;
        background-position: center;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-stroke: 1px #fff;
        font-size: 40px;
        font-weight: 900;
    } */
    .card-img{
        transform: translateX(-20%);
        position: relative;
    }
    .card-img::before{
        position: absolute;
        content: "";
        width: 100.5%;
        height: 100%;
        left: -.1%;
        top: 0%;
        backdrop-filter: blur(1px);
        border: 10px solid #ffffff;
        background: #7e60ea26;
    }
    .socials{
        transform: translateX(-50px);
        a{
            color: #fffffff9;
            font-size: 25px;
            text-decoration: none;
            opacity: 0.5;
        }
        a:hover{
            opacity: 1;
            color: #7e60ea;
            transition: .5s;
        }
    }
}
.about{
    .card-img{
        background: #fff;
        border: 10px solid #00000082;
        border-right: none;
    }
    img{
        transform: translateX(2%);
        border: 10px solid #fff;
        border-left: none;
    }
}
.herosection .card,
.about .card,
.campinfo .campinfocard{
    width: 90%;
    line-height: 1.5;
}
.campinfo{
    .statcard{
        background: #ffffffee;
    }
    .statistics{
        font-size: 2rem;
        font-weight: 900;
    }
    h6{
        font-size: 14px;
    }
}
.campinfo .statcard,
.how .howcard,
.news .card,
.academics .acadcard{
    box-shadow: 1px 1px 10px #d7d7d7;
}
.campinfo .statcard:hover,
.how .howcard:hover,
.news .card:hover,
.academics .acadcard:hover{
    scale: 1.05;
    transition: .2s;
    cursor: pointer;
    box-shadow: 1px 1px 10px #aa64e8;
    .number{
        transition: .8s;
        -webkit-text-stroke: 5px #aa64e8;
    }
}
.how{
    .number{
        font-weight: bold;
        opacity: 0.2;
        color: transparent;
        padding: 0;
        margin: 0;
        background-size: cover;
        background-position: center;
        background-clip: text;
        background: #28282220;
        -webkit-background-clip: text;
        -webkit-text-stroke: 1px #28282257;
        font-size: 12rem;
        position: absolute;
        right: 0;
        z-index: -1;
        transform: translateY(-30%);
        font-weight: 900;
    }
    .howcard{
        position: relative;
        line-height: 1.8;
    }
}
.testimonials{
    background: #f6f4ff8d;
    height: max-content;
    overflow: hidden;
    .testicard{
        h4{
            line-height: 1.5;
        }
        .ti, .rating{
            font-size: 20px;
            color: #ffa200d4;
        }
    }
    .testicard::before,
    .testicard::after{
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 30%;
        color: transparent;
        padding: 0;
        margin: 0;
        background-clip: text;
        background: #aa64e8;
        -webkit-background-clip: text;
        -webkit-text-stroke: 1px #00000082;
        z-index: -1;
        font-size: 6.5rem;
        font-weight: 900;
        text-shadow: 3px 3px 0px #000;
        color: #aa64e8;
    }
    .testicard::before{
        content: "Universe";
        left: 10%;
        top: 10%;
    }
    .testicard::after{
        content: "University";
        left: 100%;
        top: 15%;
    }
    .testimgs{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        margin-left: auto;
        img{
            width: 25%;
            cursor: pointer;
            opacity: 0.5;
            border: 10px solid #ffffff;
            box-shadow: 10px 10px 10px #7979795c;
        }
    }
    .testimgs img:hover,
    .testimgs img.selected{
        transform: scale(1.05);
        opacity: 1;
        border-color: var(--states-focused, #aa64e8);
    }
}
.gallery{
    .gallery-img{
        opacity: 0.7;
        cursor: pointer;
        img{
            cursor: zoom-in;
            width: 25%;
        }
    }
}
.modal.fade{
    width: 100vw !important;
    background: transparent;
    height: 50vw;
    img{
        cursor: zoom-in;
    }
}
.newsletter{
    .subscribe{
        border-radius: 5px;
        background: linear-gradient(#4259ee84, #7e60ea7a), url(images/img11.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        place-items: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .form-control{
            box-shadow: none;
            border: none;
            outline: none;
            width: 80%;
        }
        .btn{
            width: 60%;
        }
    }
}
footer{
    background: url(images/img22.png), linear-gradient(#051163, #0d1969);
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    color: #fff;
    .nav-link:hover{
        color: #7e60ea;
    }
}
.R-herosection{
    background: linear-gradient(#051263a8, #0d1969ab), url(images/img21.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    display: flex;
    place-items: center;
}
.login{
    .login-img{
        img{
            border: 3px solid #ffffffee;
        border-radius: 10px;
        box-shadow: 2px 2px 5px #425aee;
        }
    }
}
.applyform{
    background: #fff;
    box-shadow: 0px 0px 30px #d7d7d7;
    border-radius: 10px;
    select,
    .form-control{
        box-shadow: 0px 0px 10px #d7d7d7;
        border-color: #d7d7d7;
        border-radius: 0px;
        padding: 10px 0px;
        text-indent: 10px;
        text-transform: uppercase;
    }
    select:focus{
        border: none;
        outline: none;
    }
    input:focus{
        border-color: #425aee;
        border-width: 1px;
        box-shadow: 2px 2px 5px #425aee;
    }
}
.contact{
    .contactcard{
        background: #051263e7;
        border: none;
        border-radius: 10px;
        color: #fff;
        /* backdrop-filter: blur(10px); */
        box-shadow: 2px 2px 20px #7e60ea;
        li{
            background: #fff;
            color: #051263e7;
            display: flex;
            justify-content: center;
            align-items: center;
            place-items: center;
            border-radius: 3px;
        }
    }
    h1{
        font-weight: 900;
    }
    .form-control{
        box-shadow: 0px 0px 10px #d7d7d7;
        border-color: #d7d7d7;
        border-radius: 0px;
        padding: 10px 0px;
        text-indent: 10px;
        text-transform: uppercase;
    }
}
.about2{
    font-size: 20px;
    .card-img1{
        float: left;
        clear: both;
        width: 60%;
    }
    .card-img2{
        float: right;
        clear: both;
        width: 60%;
    }
    li{
        list-style: none;
    }
}
.faq{
    .accordion-button,
    .accordion-body{
        color: #425aee;
    }
}
.aboutstats{
    background: #eeeeee95;
}

.alumni{
    .alumnicard{
        box-shadow: 1px 1px 10px #d7d7d7;
        border: none;
        .card-img{
            border-radius: 5px;
        }
    }
    .slide1,
    .slide2,
    .slide3{
        background-size: cover;
        transition: all 3s ease-in-out;
        .over{
            display: flex;
            gap: 1.5rem;
            font-size: 30px;
            justify-content: center;
            place-items: center;
            height: 60vh;
            visibility: hidden;
            margin: 0 auto;
            transition: all .5s linear;
        }
        .down{
            width: 100%;
            height: 0%;
            background: #121923;
            transition: all 1s linear;
        }
    }
    /* .slide1:hover,
    .slide2:hover,
    .slide3:hover{
        background-size: cover;
        .over{
            visibility: visible;
            height: 50vh;
            margin: 0 auto;
        }
        .down{
            width: 100%;
            height: 20vh;
            background: #121923;
        }
    } */
}