:root{
     --deep: #F5E7B2;
     --deeper: #F9D689;
     --deepest: #E0A75E;
     --deepsy: #973131;
     --bs-body-bg: transparent;
     --light: #ffffffee;
 }
 .modal{
     --bs-body-bg: white;
 }
body{
     font-family: 'INter', sans-serif;
     font-size: 16px;
     padding: 1rem !important;
     width: 100vw;
     overflow: hidden;
     height: 100vh;
     background-color: var(--deep);
     background: #f5e7b27f;
}
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.profile-cover-img{
     width: 100%;
     height: 100%;
     object-fit: contain;
}
.list-group-item{
     font-weight: 700;
}
.list-group-item span{
     font-weight: 300;
}
#side{
     width: 18vw;
     height: 95vh;
     transition: width .5s !important;
}
#main{
     width: 80vw;
     transition: width .5s !important;
}
body.collapsed #side{
     width: 8vw;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
body.collapsed #side .sidebar h2 {
     display: none;
}
body.collapsed #side .expand-btn i{
     transform: rotate(140deg);
}
body.collapsed #side .logo-small2{
     display: block;
}
body.collapsed #side .logo-small1{
     display: none;
}
body.collapsed #side .sidebar-links-wrapper{
     margin-left: 0rem;
     overflow: hidden;
}
body.collapsed #side .sidebar-links li a{
     width: max-content !important;
     padding: 0 1rem;
}
body.collapsed #side .hide{
     position: absolute;
     visibility: hidden;
}
body.collapsed #side .sidebar_profile{
     display: none;
}
body.collapsed #side .logout span{
     display: none;
}
body.collapsed #side .logout i{
     transform: translateY(-20px) translateX(30px);
     font-size: 1rem;
}
body.collapsed #main{
     width: 90vw;
     margin: 0 auto;
}
.sidebar{
     position: relative;
     top: 0;
     left: 0;
     border-radius: 1rem;
     user-select: none;
     display: flex;
     width: 100%;
     height: 100%;
     color: var(--white);
     flex-direction: column;
     background-color: var(--deepsy);
     background: linear-gradient(#1f1c161d, #1f1c1661), url(../images/coverPic.png);
     background-size: cover;
     background-position: center;
     transition: max-width 0.2s ease-in-out;
}
.sidebar .sidebar-top-wrapper{
     position: relative;
     display: flex;
}
.sidebar .expand-btn{
     position: absolute;
     display: grid;
     place-items: center;
     cursor: pointer;
     background: var(--deepest);
     z-index: 2;
     border: 2px solid var(--deeper);
     right: -1.1rem;
     top: 1.40rem;
     width: 2.25rem;
     height: 2.25rem;
     border-radius: 50%;
}
.sidebar .expand-btn i{
     font-size: 1.20rem;
     color: var(--deepsy);
     transform: rotate(-140deg);
     transition: all .7s !important;
}
.sidebar .sidebar-top{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     overflow: hidden;
     padding: 1rem;
     height: 4rem;
     padding-top: 2rem;
}
.sidebar .logo_wrapper{
     display: flex;
     align-items: center;
     color: var(--text-link);
     font-weight: 700;
     text-decoration: none;
     gap: 0.75rem;
     height: 3rem;
     padding: 0.5rem 1rem;
     width: 100% !important;
     object-fit: cover;
     backdrop-filter: blur(10px);
     background: #e9e9e981;
     border-radius: 10px;
}
.sidebar .logo-small{
     width: 70% !important;
     margin: 0 auto;
}
.sidebar .logo-small1{
     display: block;
     width: 60% !important;
}
.sidebar .logo-small2{
     display: none;
}
.sidebar .sidebar-links-wrapper{
     overflow: hidden;
     padding: .5rem;
     position: relative;
     margin: auto 0;
     margin-left: 0.7rem;
}
.sidebar .sidebar-links ul{
     list-style-type: none;
     display: flex;
     row-gap: .5rem;
     flex-direction: column;
}
.sidebar .sidebar-links ul li{
     display: flex;
     justify-content: center;
     align-items: center;
     color: var(--text-link);
}
.sidebar .sidebar-links ul li a{
     color: var(--text-link);
     color: #ffffffad;
     width: 100%;
     padding: 0 0.5rem;
     font-size: 1rem;
     display: flex;
     gap: 0.8rem;
     justify-content: start;
     align-items: center;
     border-radius: 0.55rem;
     min-height: 3.25rem;
     text-decoration: none;
     transition: all .5s ease-in-out;
     i{
          font-size: 1.3rem;
     }
}
.sidebar .sidebar-links li a:hover,
.sidebar .sidebar-links .active,
.sidebar .sidebar-links .active:hover{
     background-color: var(--deepsy);
     i{
          color: var(--deep) !important;
     }
}
.sidebar .sidebar-links li a .link{
     overflow: hidden;
     white-space: nowrap;
     animation: fadeIn 0.2s ease-in-out;
}
.sidebar .sidebar_bottom{
     display: flex;
     gap: 0.5rem;
     padding: .5rem 1rem;
     flex-direction: column-reverse;
     color: var(--deeper);
     overflow: hidden;
     min-height: 4rem;
     margin-top: auto;
}
.sidebar .sidebar_bottom .logout{
     display: flex;
     gap: 0.5rem;
     align-items: center;
     opacity: .5;
     text-decoration: none;
     color: #000 !important;
     cursor: pointer;
}
.sidebar .sidebar_bottom .sidebar_profile{
     display: flex;
     align-items: center;
     gap: 0.5rem;
     flex-direction: row;
     overflow-x: scroll;
     color: var(--text-link);
}
.sidebar .sidebar_bottom .sidebar_profile .avatar_wrapper{
     position: relative;
     display: flex;
     .avatar{
          display: block;
          object-fit: cover;
          height: 1.5rem;
          width: 1.5rem;
          cursor: pointer;
          border-radius: 50%;
          transition: all 0.2s ease-in-out;
     }
}
.sidebar_bottom .sidebar_profile .avatar_name{
     display: flex;
     flex-direction: column;
     gap: 0.05rem;
     white-space: nowrap;
}
.sidebar_bottom .sidebar_profile .avatar_name .email{
     font-weight: 600;
     text-align: left;
     font-size: 0.7rem;
}
.sidebar_bottom .sidebar_profile .avatar_name .user-name{
     font-size: 0.5rem;
}
.main-item > .expand-icon{
     transition: all ease-in-out 0.25s;
}
.main-item--open > .expand-icon{
     transform: rotate(-90deg);
}
body.collaped .expand-icon{
     display: none;
}
ol, ul{
     padding-left: 0;
}
.main-content{
     display: flex;
     flex-direction: column;
     width: 100%;
     padding: 0 1rem;
     height: 100vh;
     overflow-x: hidden;
     overflow-y: auto;
}
.main-content .adminoverview h2{
     color: var(--deepsy);
     text-shadow: 2px 2px 0px var(--deepest);
}
.main-content-header .profile-cover-img-wrapper{
     position: relative;
}
.profile-cover-img-wrapper .profile-cover-img{
     height: 30vh !important;
     rotate: 180deg;
     object-fit: cover !important;
     border-radius: 1rem !important;
}
.profile-cover-img-wrapper .profile-cover-avatar{
     position: absolute;
     bottom: -20%;
     left: 50%;
     transform: translate(-50%);
     display: block;
     object-fit: cover;
     border-radius: 50%;
     width: 8rem;
     height: 8rem;
     border: 0.35rem solid var(--deepsy);
}
.profile-cover-avatar img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 50%;
}
.profile-cover-avatar .avatar-status{
     position: absolute;
     bottom: 0;
     right: 0;
     width: 1.5rem;
     height: 1.5rem;
     border-radius: 50%;
     border: 2px solid var(--bg);
}
.profile-cover-avatar .avatar-status-success{
     background-color: #2ecc71;
}
.main-content-header i{
     color: #FFFFFF;
}
.main-content-header .page-header-title{
     font-size: 2rem;
     color: #000;
     font-weight: 700;
}
.main-content-header .page-header-title i{
     font-size: 1rem;
     margin: 0 0.5rem;
}
.main-content-header .list-inline{
     display: flex;
     justify-content: center;
     gap: 0.5rem;
     margin-top: 0.5rem;
}
.main-content-header .list-inline .list-inline-item{
     display: flex;
     gap: 0.5rem;
     align-items: center;
     color: #888;
     font-size: 1rem;
}
.list-inline .list-inline-item i{
     font-size: 1.25rem;
     color: #888;
}
.list-inline .list-inline-item a{
     color: #888;
     text-decoration: none;
     font-size: 1rem;
     display: flex;
     gap: 0.5rem;
     align-items: center;
}
.list-inline-item a i{
     font-size: 1.25rem;
}
.profile{
     background: var(--deepsy);
     padding: 2rem;
     border-radius: 20px;
}
.profile .fw-bold,
.profile .modal-title{
     color: var(--deeper);
     border-color: var(--light) !important;
}
.profile .list-group,
.profile .list-group-flush,
.profile .list-group-item{
     background: transparent !important;
     span{
          color: var(--light);
     }
}
.profile .list-group-flush{
     gap: 2rem;
}
.profile .list-group-item{
     color: #f5e7b27f;
     border-bottom: 1px solid !important;
}
.list-unstyled{
     padding-left: 0;
     list-style: none;
}
.list-py-2>li:not(:last-child){
     padding-bottom: .5rem;
}
.list-py-2>li:not(:first-child){
     padding-top: .5rem;
}
.card-subtitle{
     display: block;
     text-transform: uppercase;
     color: #8c98a4;
     font-size: .71094rem;
     margin-bottom: .25rem;
     margin-top: -.125rem;
}
.card-header-content-between{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     gap: .5rem;
}
.card{
     background: var(--deepsy);
     color: var(--light);
     box-shadow: -5px 5px 0px var(--deeper);
     border: none;
}
.card .card-footer,
.card .card-header{
     padding-top: 1rem;
     padding-bottom: 1rem;
     background-color: var(--deepest);
     color: var(--deepsy);
}
.card .dropdown-item-icon{
     opacity: .7;
     width: 1.5rem;
     color: #f5e7b27f;
}
.card span{
     color: var(--light);
}
.btn-info,
.btn-info:hover,
.btn-primary,
.btn-primary:hover,
.btn-warning,
#button-addon2,
.btn-warning:hover{
     color: var(--deepsy);
     background-color: var(--deeper);
     border-color: #f5ca99;
     border-radius: 0.55rem;
     height: 50px;
     display: flex;
     align-items: center;
     width: max-content;
}
.step{
     position: relative;
     list-style: none;
     padding-left: 0;
     margin-right: calc(1.5rem / -2);
     margin-left: calc(1.5rem / -2);
}
.step .step-item{
     display: flex;
     flex-direction: column;
     flex-basis: 0;
     flex: 0 0 100%;
     max-width: 100%;
     padding-right: .75rem;
     padding-left: .75rem;
     margin-bottom: 2.25rem;
}
.step-icon-xs .step-icon, 
.step-icon-xs.step-icon{
     font-size: .65625rem;
     width: 1.53125rem;
     height: 1.53125rem;
}
.step .step-icon{
     display: inline-flex;
     flex-shrink: 0;
     justify-content: center;
     align-items: center;
     font-size: .875rem;
     font-weight: 600;
     width: 2.625rem;
     height: 2.625rem;
     border-radius: 50%;
     margin-right: 1rem;
}
.step-title{
     display: block;
     color: #1e2022;
     font-weight: 600;
}
.table-responsive{
     background: var(--deepsy);
     padding: 1rem;
     border-radius: 1rem;
}
.table-responsive table, 
table thead,
table tr, 
table th,
table td{
     border: none !important;
     color: var(--light) !important;
}
th, td{
     white-space: nowrap;
}
.badge{
     line-height: normal;
}
.bg-soft-success{
     background-color: rgba(0, 201, 167, .1) !important;
}
.rounded-pill{
     border-radius: 50rem !important;
}
.text-success{
     --bs-text-opacity: 1;
     color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
}
.badge{
     display: inline-block;
     padding: .35em .65em;
     font-size: .75em;
     font-weight: 700;
     line-height: 1;
     color: #fff;
     text-align: center;
     white-space: nowrap;
     vertical-align: baseline;
     border-radius: .3125rem;
}
.text-muted{
     --bs-text-opacity: 1;
     color: #8c98a4 !important;
}
.text-uppercase{
     text-transform: uppercase !important;
}
.general .in-new-prod-cont{
     width: 100%;
     border-radius: 10px;
     backdrop-filter: blur(10px) !important;
     background: linear-gradient(135deg, var(--deepsy), var(--deepest));
     color: #fff;
     opacity: 70%;
}
.general .input-group{
     box-shadow: none !important;
     border: 1px solid var(--deepest);
     border-radius: 1rem;
}
.general .form-control{
     box-shadow: none !important;
     border: none;
}
.general #button-addon2{
     border: 1px solid var(--deepest);
     border-radius: 0px;
     border-top-right-radius: 1rem;
     border-bottom-right-radius: 1rem;
}
.general .forms div label{
     color: white;
     white-space: nowrap;
     font-weight: 700;
     font-size: 20px;
}
.general .profile{
     color: #eff6f8;
     box-shadow: 5px 5px 10px var(--deepest) !important;
     background: linear-gradient(135deg, #1f1c16a9, #1f1c16a9), url("../images/coverPic2.png");
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     position: relative;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: row;
     border: none;
     border-radius: 1rem;
     overflow-x: hidden;
     z-index: 2;
}
.general .profile .fw-bold{
     color: #f5e7b27f;
}
.general .profile i{
     font-size: 2rem;
     color: var(--deep);
}
.general .profile .profile-img{
    width: 100px;
    height: 100px;
    border: 3px solid var(--deeper);
    overflow: hidden;
}
.profile .profile-img img{
     width: 100%;
}
.general .forms{
     background: var(--deepsy);
     width: 90%;
     padding: 2rem;
     border-radius: 1rem;
}
.general .forms .faculty{
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: relative;
}
.general .forms input[type="text"]{
     border: none;
     padding: 10px;
     outline: none;
     box-shadow: none !important;
     /* box-shadow: 2px 2px 5px var(--deepest) !important; */
     border-radius: .5rem;
     background: var(--deeper);
}
.general .forms input[type="checkbox"].pick{
     width: 30px;
     height: 30px;
     border-radius: 5px;
     border: 2px solid #ccc;
     -webkit-appearance: none;
     appearance: none;
     outline: none;
     cursor: pointer;
     position: relative;
}
.general .forms input[type="checkbox"].pick:checked{
     background-color: black;
     border: none;
}
.general .forms input[type="checkbox"].pick:checked::after{
     content: "";
     position: absolute;
     top: 40%;
     bottom: 50%;
     left: 50%;
     width: 60%;
     height: 30%;
     border: solid white;
     border-width: 0 0 5px 5px;
     transform: translate(-50%, -50%) rotate(-45deg);
}
.general .forms .year, 
.general .forms .payment{
     font-size: 25px;
     font-weight: 700;
     color: #fff;
}
.general .forms .courses{
     border-radius: 10px;
     padding: 1rem;
     box-shadow: 2px 2px 5px #37321f7f !important;
     .form-control{
          border-radius: .5rem;
          background: var(--deeper);
     }
}
.general .forms .payment{
     border-radius: 1rem;
     padding: 1rem;
     background: var(--deepest);
}
.general .forms .payment img{
     width: 30px;
     height: 30px;
     border-radius: 50%;
}
.general .forms .btn{
     color: var(--deepsy);
     background-color: var(--deeper);
     border-color: #f5ca99;
     border-radius: 0.55rem;
     height: 50px;
     display: flex;
     align-items: center;
     width: max-content;
}
.general .forms .decide input[type="radio"]{
     width: 30px;
     height: 30px;
     border-radius: 50%;
     border: 2px solid #ccc;
     -webkit-appearance: none;
     appearance: none;
     outline: none;
     cursor: pointer;
     position: relative;
}
.general .forms .decide input[type="radio"]:checked{
     background-color: black;
}
.general #addYear{
     box-shadow: 5px 5px 10px #1f2225 !important;
     border-radius: 0px;
     display: flex;
     justify-content: center;
     place-items: center;
     backdrop-filter: blur(20px);
     color: white;
     border-radius: 10px;
     background: linear-gradient(135deg, var(--deepsy), var(--deepest));
     border: 2px solid white;
     cursor: pointer;
}
.general .profile::after{
     content: "";
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     animation: gradient-animation_2 4.5s linear infinite;
     left: 0;
     z-index: -1;
     background: linear-gradient(130deg, #e3e3e300 0%, #e3e3e300 40%, #e3e3e305 50%, #e3e3e300 60%, #e3e3e300 100%);
}
.hidden{
     display: none;
 }
 #loader{
     margin: 0 auto;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 10vh;
     height: 10vh;
     background-color: black;
     /* display: none; */
 }
 #alerting{
     position: fixed;
     right: 0;
     z-index: 1000000000;
     top: 10%;
}
#alerting .alert{        
     width: 300px;
     height: 50px;
     animation-name: rollin;
     animation-duration: 0.5s;
     animation-timing-function: ease;
     animation-fill-mode: forwards;
}
#alerting svg{
     width: 20px;
}
#alerting div{
     font-size: 12px;
}
 .alert-primary{
      background-color: #2A6DA8;
 }
 .alert-danger{
      background-color: #ff0000;
 }
 .alert-success{
      background-color: #019f01;
 }
 .alert-warning{
      background-color: #ffcc00;
 }
 .courses-list{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
 }